/*some style for app component*/
button {
  margin: 0.5em;
  padding: 0.5em 1em;
  background-color: #007bff;
  color: white;
  border: none; 
  border-radius: 0.3em; 
  font-size: 1em; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.1s; 
  text-align: center; 
  text-decoration: none; 
  font-weight: bold;
}

button:hover {
  background-color: #0056b3; 
  transform: scale(1.05);
}

button:active {
  background-color: #004080; 
  transform: scale(1); 
}

button:focus {
  outline: none; 
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

.hover-highlight {
  stroke-width: 2px; 
  stroke: #464545; 
  filter: url(#shadow);

}

#Info {
  position: absolute;
  top: 100%; /* Position it below the info button */
  left: 0; 
  width: 100%; 
  background-color: transparent; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: none; 
}

#Info.active {
  display: block; /* Show when the 'active' class is present */
}

#infoButton{
  background-color: transparent; 
  width: 8rem;
  font-size: smaller;
  border-width: 1px;
}


.grey {
  border-color: #9ba5b3;
  color: #9ba5b3;
  
}


.white {
  border-color: white; 
  color: white;
}



